:local(.board) {
    line {
        stroke: darken(white, 10%);
        stroke-width: 1%;
    }

    .tile {
        cursor: pointer;

        rect {
            fill: rgba(0, 0, 0, 0);
        }

        circle {
            visibility: hidden;
            fill: none;
            stroke: lighten(blue, 25%);
            stroke-width: 4%;
        }

        line {
            visibility: hidden;
            fill: none;
            stroke: lighten(red, 25%);
            stroke-width: 4%;
        }

        &.ring {
            circle {
                visibility: visible;
            }
        }

        &.cross {
            line {
                visibility: visible;
            }
        }
    }
}

