:local(.board) {
    line {
        stroke: darken(white, 50%);
        stroke-width: 1%;
    }

    &.turn {
        line {
            stroke: darken(white, 10%);
        }
    }

    &.red {
        line {
            stroke: lighten(red, 25%);
        }
    }

    &.blue {
        line {
            stroke: lighten(blue, 25%);
        }
    }

    .tile {
        fill: rgba(0, 0, 0, 0);

        &:not(.ring):not(.cross).turn:hover {
            cursor: pointer;
            fill: rgba(100%, 100%, 100%, 5%);
        }

        circle {
            visibility: hidden;
            fill: none;
            stroke: lighten(blue, 25%);
            stroke-width: 4%;
        }

        line {
            visibility: hidden;
            fill: none;
            stroke: lighten(red, 25%);
            stroke-width: 4%;
        }

        &.ring {
            cursor: initial;
            circle {
                visibility: visible;
            }
        }

        &.cross {
            cursor: initial;
            line {
                visibility: visible;
            }
        }
    }
}

